# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Unit Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: 'sbt'
    - uses: sbt/setup-sbt@v1
    - name: Install gensort
      run: |
        # 1. Download the tarball (using -O to ensure correct filename)
        wget -O gensort.tar.gz https://www.ordinal.com/try.cgi/gensort-linux-1.5.tar.gz
        
        # 2. Extract the file
        tar -xzf gensort.tar.gz
        
        # 3. Add the binary location to GITHUB_PATH (PATH may not does not persist across steps)
        echo "$PWD/64" >> $GITHUB_PATH
    - name: Run tests
      env:
        SBT_OPTS: "-Xmx4G"
      run: sbt test
